* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: url("/images/10/co-vietnam.png") center center no-repeat fixed;
  font-size: 16px;
  margin: 0px 20px;
}

.title {
  color: red;
  text-align: center;
}

.left-img {
  float: left;
  margin-right: 10px;
}

.right-img {
  float: right;
  margin-left: 10px;
}

.center-img {
  text-align: center;
}

.go-top {
  text-align: right;
}

h3 {
  color: white;
  padding: 5px;
  margin: 15px 0px;
}

.red-bg {
  background-color: red;
}

.purple-bg {
  background-color: purple;
}

.pink-bg {
  background-color: magenta;
}

p {
  text-align: justify;
  margin: 1em 0;
}

p.drop-cap::first-letter {
  float: left;
  margin-right: 10px;
  color: yellow;
  text-shadow: 2px 2px 2px red;
  font-size: 50pt;
}

p.img-note {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

#scrollUpBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20pt;
  color: white;
  background-color: rgb(219, 176, 176);
  padding: 10px;
  border: 0px;
  width: 50px;
  border-radius: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

#sg {
  column-count: 3;
  column-rule-style: dashed;
  column-rule-color: darkgray;
}

/* Tablet */
@media (max-width: 992px) {
  body {
    margin: 0 10px;
    background: url("/images/10/co-vietnam.png") center center no-repeat fixed;
  }

  #sg {
    column-count: 2; /* giảm từ 3 xuống 2 cột */
  }

  .left-img,
  .right-img {
    float: none;
    display: block;
    margin: 10px auto;
  }

  .center-img img {
    max-width: 90%;
    height: auto;
  }

  #scrollUpBtn {
    width: 45px;
    font-size: 16pt;
  }
}

/* Mobile */
@media (max-width: 600px) {
  body {
    background: url("/images/10/co-vietnam.png") center center no-repeat fixed;
    margin: 0 8px;
  }

  #sg {
    column-count: 1; /* chỉ còn 1 cột trên điện thoại */
  }

  h1.title {
    font-size: 22px;
    line-height: 1.3;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
    text-align: justify;
  }

  .left-img,
  .right-img {
    width: 100%;
    margin: 10px 0;
  }

  #scrollUpBtn {
    width: 40px;
    font-size: 14pt;
  }
}
